<a href="https://colab.research.google.com/github/SOUJU07/DSMP-Notebooks/blob/main/Copy_of_session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [6]:
# Write your code here
print("Data","Science","Mentorship","Program","started","By",sep='-',end='-')
print("CampusX")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [8]:
# Write your code here
cel=input("enter the celsius value")
far=(float(cel)*9/5)+32
print(far)

enter the celsius value40
104.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [12]:
# Write your code here
a=int(input('enter first number'))
b=int(input('enter second number'))
temp=b
b=a
a=temp
print(a)
print(b)

enter first number2
enter second number3
3
2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [16]:
# Write your code here
x1=float(input('enter the first number'))
x2=float(input('enter the second number'))
y1=float(input('enter the third number'))
y2=float(input('enter the fourth number'))
distance=(((x2-x1)**2 + (y2-y1)**2))**0.5
print(distance)

enter the first number4
enter the second number2
enter the third number4
enter the fourth number2
2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [17]:
# Write your code here
p=float(input('enter the principle amount'))
r=float(input('enter the rate of interest'))
t=float(input('enter the time period'))
si=(p*r*t)/100
print(si)

enter the principle amount100
enter the rate of interest10
enter the time period10
100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [19]:
# Write your code here
heads=int(input('enter the number of heads'))
legs=int(input('enter the number of legs'))
dogs=(legs-2*heads)/2
chicken=heads-dogs
print(dogs)
print(chicken)

enter the number of heads4
enter the number of legs12
2.0
2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [20]:
# Write your code here
n=int(input('enter the number'))
sum=0
for i in range(1,n+1):
  sum=sum+(i**2)
print(sum)

enter the number5
55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [21]:
# Write your code here
a=int(input('enter the first number'))
b=int(input('enter the second number'))
n=int(input('enter the nth place'))
d=b-a
nth=a+(n-1)*d
print(nth)

enter the first number2
enter the second number7
enter the nth place10
47

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [26]:
# Write your code here
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input('enter the third number'))
d=int(input('enter the fourth number'))
sum=(a*d+b*c)/(b*d)
print(sum)

enter the first number4
enter the second number2
enter the third number4
enter the fourth number2
4.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [32]:
# Write your code here
height=int(input('enter the height of tank'))
width=int(input('enter the width of tank'))
breadth=int(input('enter the breadth of tank'))
volume_of_tank= height*width*breadth
print(volume_of_tank)

h=3 #height of glass in cm
r=1 #radius of glass in cm

volume_of_glass = 3.14*r**2*h
print(volume_of_glass)

no_of_glass=volume_of_tank/volume_of_glass
print(no_of_glass)

enter the height of tank20
enter the width of tank20
enter the breadth of tank20
8000
9.42
849.2569002123142