<a href="https://colab.research.google.com/github/SOUJU07/DSMP-Notebooks/blob/main/Copy_of_session_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [18]:
# write your code here

test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

res=[]
for i in test_list:
  res.append(i[0])
res=set(res)

result=[]
for j in res:
  result.append([j])
  for x in test_list:
    if x[0] == j:
      result[-1].append(x[1])


print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [7]:
# write your code here

t= (1, 5, 7, 8, 10)

result=[]

result.append(t[0]*t[1])

for i in range(1,len(t)-1):
  result.append(t[i-1]*t[i] + t[i]*t[i+1])

result.append(t[-1]*t[-2])


print(result)

[5, 40, 91, 136, 80]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [19]:
# write your code here

t1 = (1,2,3,0)
t2 = (1,2,3,0)

same=True

for i in range(len(t1)):
  if t1[i]!=t2[i]:
    same=False
    break

if same:
  print('t1 and t2 are same')
else:
  print('t1 and t2 are not same')

t1 and t2 are same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [25]:
# write your code here

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

result=[0,0,0]

for i in list1:
  if type(i)==list:
    result[0]=result[0]+1
  elif type(i)==set:
    result[1]=result[1]+1
  elif type(i)==tuple:
    result[2]=result[2]+1
  else:
    pass

print('List-{}\nSet-{}\nTuples-{}'.format(result[0],result[1],result[2]))

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [10]:
# write your code here

records=int(input('enter the number of records you want to store'))

students=[]

for i in range(records):
  name=input('enter the name of the student')
  education=input('enter the higher education')
  skill=input('primary skill')
  students.append((name,education,skill))
print(students)


job_skill=input('enter the required skill')
education_job=input('enter the required education')

flag=False
for i in students:
  if job_skill==i[2]:
    if education_job==i[1]:
      flag=True
      print(i)

if flag==False:
  print('No records found')

enter the number of records you want to store2
enter the name of the studenttuku
enter the higher educationbe
primary skillpython
enter the name of the studentdiku
enter the higher educationbe
primary skilljava
[('tuku', 'be', 'python'), ('diku', 'be', 'java')]
enter the required skillcl
enter the required educationbe
No records found

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [12]:
# write your code here

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

a=set(ar1)
b=set(ar2)
c=set(ar3)

print(list((a & b) & c))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [14]:
# write your code here

# write your code here
vowels = set('aeiouAEIOU')

s = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")

print(len(vowels & s))

6

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [17]:
# write your code here

str1 = "01010101010"

if len(set(str1))==2:
  print('yes')
else:
  print('No')

yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [24]:
# write your code here

l=[[1, 2, 2, 4, 3, 6],[5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]


s=set()

for i in l:
  s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [27]:
# write your code here

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[item for item in lst1 if item in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [34]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

val=0
max_key=''
for key,value in test_dict.items():
  if len(set(value))>val:
    val=len(set(value))
    max_key=key

print(max_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [48]:
# write your code here

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

res=[]

for i in test_str.split():
  if i in repl_dict:
    res.append(repl_dict[i])
  else:
    res.append(i)


print(' '.join(res))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [49]:
# write your code here

test_list = ["CampusX", 10]
key_list = ["name", "id"]

n = len(test_list)

res = []

for i in range(0,n,2):
  res.append({key_list[0]: test_list[i],key_list[1]:test_list[i+1]})

print(res)

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [50]:
# write your code here

l=[('A', 1), ('B', 2), ('C', 3)]

d={}
for i,j in l:
  d[i]=[j]

print(d)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [52]:
# write your code here

d={'c': [3], 'b': [12, 10], 'a': [19, 4]}

res={}

for i in sorted(d):
  res[i]=sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}